a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: white;
  text-decoration: none;
}
.renner {
  font-family: "Renner*";
}
.larger {
  font-size: larger;
}
.uptop {
  background-image: linear-gradient(to left, #f7132a, #a01a28);
  height: 25vh;
}
.uptop_cont {
  font-family: "Azo Sans";
  font-weight: bolder;
  font-size: 8vh;
  color: white;
  padding-top: 5%;
}
.dochr1 {
  width: 5%;
  border-top: 1px solid black;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.docrec {
  font-family: "Renner*";
  font-size: xx-large;
}
